.container {
    padding: 3% 5% 5% 5%;
    background-color: rgb(253, 240, 221);
}

.container img {
    float: left;
    max-width: 30%;
    max-height: 30%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border-radius: 40px;
    padding: 20px;
    margin: 3% 8% 5% 2%;
}

.container_text {
    font-size: large;
    text-align: center;
    padding: 2% 5% 5% 5%;
}

@media screen and (max-width: 992px) {
    .container img {
        max-width: 45%;
    }
}

@media screen and (max-width: 768px) {
    .container img {
        max-width: 65%;
        margin: 3% 10% 10% 10%;
    }
    .container_text {
        font-size: medium;
        padding: 5% 10% 10% 10%;
    }
}